{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include '_head_imports.html' %}
    </head>
    <body>
        <div class='container'>
            <div class='row'>
                <div class='col' style='height: 100vh'>
                    <div class='d-flex flex-column justify-content-center align-items-center h-100'>
                        <img src="{% static 'images/agreement.svg' %}" style='width: 360px' />
                        <div class='my-2' style="font-size: 2rem">Partners</div>
                        <div style='color: #999'>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet ipsum lorem. Vestibulum at fringilla erat, id facilisis nisl. Aliquam diam velit, dapibus non purus ac, sollicitudin euismod lorem. Mauris non augue dui. Fusce eget facilisis lorem. Sed lacus nisl, efficitur a ultricies quis, malesuada id nisl. Ut eget elementum ligula, ut suscipit libero. Donec eu dui lacinia, semper diam dapibus, eleifend eros. Nam mi erat, vehicula sit amet lectus dapibus, volutpat condimentum ex
                        </div>
                    </div>
                </div>
                <div class='col'>
                    <form style='height: 100vh' method="post">
                        {% csrf_token %}
                        <div class='container d-flex flex-column justify-content-center align-items-center h-100'>
                            <div style='font-size: 1.5rem; font-weight: 300; width: 100%; float: left !important;'>Please fill in the details</div>
                            <input type="text" placeholder="Company Name" name="partner_name" required>
                            <textarea placeholder="Company Description" name="partner_desc" required></textarea>
                            <input type="text" placeholder="Company Email" name="email" required>
                            <input type="password" placeholder="Set a password" name="password" required>
                            <div class='py-2 d-flex justify-content-end align-items-center w-100'>
                                <button class='btn btn-primary' type='submit'>Register</button>
                            </div>
                        <div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>